/* RESET DE CONFIGURAÇÃO GERAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 { /* Alterado de h1 para h3 para coincidir com seu HTML */
    text-align: center;
    font-size: 6rem;
    color: #aa2929;
}

body {
    background-color: #ac9c9c;
    background-image: url("assets/fundo.jpg");
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1400px;
}

p {
    text-align: center;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000;
    margin: 20px; /* Corrigido: o espaço entre '20' e 'px' foi removido */
}