/* RESET DE CONFIGURAÇÃO GERAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 { /* Alterado de h1 para h3 para coincidir com seu HTML */
    text-align: center;
    font-size: 6rem;
    color: #aa2929;
}

body {
    background-color: #ac9c9c;
    background-image: url("assets/13229392651429421.jpg");
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1920px;
    background-position: 50%;
    background-position-x: 50%;
    background-position-y: 0%;
}

p {
    text-align: center;
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000;
    margin: 20px; 
}
button{
    text-align: center;
     
    font-size: 20px;
    margin-top: 20px;
    margin: center;
    text-decoration: rgb(red, green, blue);
}