   /* RESET DAS CONFIGURAÇÕES DO NAVEGADOR  */
   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   
    /* CONFIGURAÇÕES GERAIS */
    body {
        background-color: rgb(172, 246, 248);
        

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        font-family: Arial, Helvetica, sans-serif;
    }   


    .index {
        background-image: url("fundo/download.jpg");
    }
    
    .segunda-pagina {
        background-image: url("fundo/HD-wallpaper-esporte-clube-bahia-3d-steel-logo-brazilian-football-club-3d-emblem-salvador-brazil-ec-bahia-metal-emblem-serie-a-football-creative-3d-art.jpg");
    }

    .terceira-pagina {
        background-image: url("fundo/images.jpg");

    }
    h2 {
       
        font-size: 2rem;
        text-align: center;     
    }


    p {
        font-size: 15px;
        text-align: justify;
        
    }

    a { 
        display: block;
        max-width: 300px;
        margin: 20px auto;
        text-align: center;
    }
    
    img {
        display: block;
        margin: 20px auto;
        width: 300px;
        height: auto;
    }

    button {
        display: block;
        margin: 20px auto;
        cursor: pointer;
        padding: 5px 30px;
        border-radius: 20px;
    }

    ol {
        text-align: center;
        list-style-type: inside;
        padding: 20px;
    }

    li {
        font-size: 15px;
       font-weight: bold;
       color: black;
    }

    .trocar3pag {
        background-color: rgb(255, 255, 255);
        border: none;
        color: black;
      
    }